html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans';
    color: #808080;
}

@import './mixins.scss';
@import './layout.scss';
@import './headernav.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import './details.scss';
@import './account/account.scss';
@import './account/purchase-history.scss';
@import './account/account-information.scss';
@import './account/account-information-form.scss';
@import './shop/shop.scss';
@import './shop/shop-search-bar.scss';
@import './shop/shop-product.scss';
@import './shop/shop-cart.scss';
@import './quantity.scss';
@import './green-price-tag.scss';